.fade-in {
    animation: fadeIn 1s ease-in;
}

.fade-out {
    animation: fadeOut 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.game-container {
    width: 600px;
    /* Set a more appropriate width for the game container */
    height: 600px;
    /* Keep the height fixed */
    margin: auto;
    /* Center the container */
    padding: 10px;
    /* Adjust padding */
}

.animate-text {
    font-size: 20px;
    /* Increase font size for animated text */
}

.options button {
    width: auto;
    /* Allow buttons to take their natural size */
    font-size: 18px;
    /* Increase font size for buttons */
    padding: 15px;
    /* Increase padding for buttons */
    margin-top: 30px;
    /* Maintain margin to push buttons lower */
}